header {
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid;
  padding: 10px;
  background-color: rgba(177, 177, 243, 0.631);
  height: 937.33px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.main-section {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid;
}


.home {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 269px;
  height: 55px;
  display: flex;
  gap: 8px;
  font-size: 34px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 103px;
  margin-left: 150px;
  font-family: 'Roboto', sans-serif;
}
.logo-home {
  width: 55px;
  height: 55px;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.logo-text > p {
  text-align: left;
  font: normal normal medium 38px/51px Roboto;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
  top: 52px;
  left: 213px;
  width: 214px;
  height: 51px;
}

.menu > li {
  display: inline-block;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: bold;
}

.nav {
  justify-content: center;
}

.contact-us {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 40px;
  width: 150px;
  height: 20px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.contact-us > a {
  color: black;
}

.text {
  display: flex;
}

.text-container {
  height: 446px;
  margin-right: 58px;
  margin-left: 150px;
}

.text-1 {
  width: 646px;
  margin-top: 0px;
  font-size: 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-bottom: 25px;
}

.text-2 {
  color: white;
  font-size: 20px;
  margin-bottom: 24px;
  width: 686px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.button-download {
  background-color: white;
  display: flex;
  gap: 10px;
  padding: 27px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.button-download > p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.buttons-container {
  display: inline-flex;
  gap: 10px;
}

.icon-container {
  width: 24px;
  height: 24px;
}

.button-explore {
  padding: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 40px;
}

.button-explore > p {
  color: white;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.pho-container{
  max-width: auto;
  min-height:auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pho-shadow-1{
  max-width:  250px;
  min-height: 500px;
  border: 1px  rgb(242, 240, 240);
  border-radius: 45px;
  background-color: white;
  box-shadow: 0 0 0 0.1em rgb(242, 240, 240), 0 0 0 0.3em rgb(242, 240, 240);
}

.pho-box{
  position: relative; 
}

.button-1{
  width: 3px;
  background-color: rgb(242, 240, 240);
  height: 25px;
  position: absolute;
  left: -6px;
  top: 100px;
  border-radius: 2px;
}

.button-2{
  width: 3px;
  background-color: rgb(242, 240, 240);
  height: 40px;
  position: absolute;
  left: -6px;
  top: 150px;
  border-radius: 2px;
}

.button-3{
  width: 3px;
  background-color: rgb(242, 240, 240);
  height: 40px;
  position: absolute;
  left: -6px;
  top: 200px;
  border-radius: 2px;
}

.button-4{
  width: 3px;
  background-color: rgb(242, 240, 240);
  height: 50px;
  position: absolute;
  right: -6px;
  top: 160px;
  border-radius: 2px;
}

.mic{
  width: 80px;
  background-color: rgb(242, 240, 240);
  height: 5px;
  position: absolute;
  right: 85px;
  bottom:-20px
}

.spiker-cam-box{
display: flex;
width: 100px;
height: 20px;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
}

.spiker{
  background-color: rgb(242, 240, 240);
  height: 5px;
  width: 70px;
}

.cam{
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background-color: rgb(242, 240, 240);
}

.pho-img-box{
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-top: 40px;
}

.pho-img{
  width: 220px;
}

.pho-title-box{
  display: flex;
  justify-content: center;
}

.pho-title>h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:blue;
}

.pho-text-box{
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.slider-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.slider-1{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.slider-2{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: blue;
}

.slider-3{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.skip-next-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  height: 10px;
  font-family: 'Roboto', sans-serif;
}

.next>p{
  color: blue;
}

.pho-shadow-2{
  margin-left: 30px;
  margin-right: 30px;
  max-width:  300px;
  min-height: 600px;
  border: 1px  rgb(242, 240, 240);
  border-radius: 45px;
  background-color: white;
  box-shadow: 0 0 0 0.1em rgb(242, 240, 240), 0 0 0 0.3em rgb(242, 240, 240);
}

.pho-img-box-2{
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-top: 100px;
}

.skip-next-box-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  height: 80px;
  font-family: 'Roboto', sans-serif;
}

.pho-text-box-2{
  text-align: justify;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.pho-title-2>h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:blue;
  margin-top:2px
}

.mic-2{
  width: 100px;
  background-color: rgb(242, 240, 240);;
  height: 5px;
  position: absolute;
  right: 95px;
  bottom: 6px;
}

.slider-1-2{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: blue;
}

.slider-2-2{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.slider-3-2{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.pho-shadow-3{
  max-width:  250px;
  min-height: 500px;
  border: 1px  rgb(242, 240, 240);
  border-radius: 45px;
  background-color: white;
  box-shadow: 0 0 0 0.1em rgb(242, 240, 240), 0 0 0 0.3em rgb(242, 240, 240);
}

.pho-text-box-3{
  text-align: justify;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.mic-3{
  width: 100px;
  background-color: rgb(242, 240, 240);;
  height: 5px;
  position: absolute;
  right: 95px;
  bottom: -28px;
}

.slider-1-3{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.slider-2-3{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: white;
}

.slider-3-3{
  border: 1px solid blue;
  height: 5px;
  width: 23px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: blue;
}

.article {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  width: 1620px;
  margin-bottom: 400px;
}

.feedback-container{
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-feedback{
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.text-feedback>h1{
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  margin-right: 900px;
}


.text-feedback>p{
width: 780px;
height: 69px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-align: justify;
}

.read-container{
border:1px solid #F3F3F3;
border-radius: 20px;
background-color:#F3F3F3;
width: 257px;
height: 73px;
display: flex; 
justify-content: center;
align-items: center;
font-size: 24px;
font-family: 'Roboto', sans-serif;
text-align: justify;
}

.read-arrow{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
}

.man-container{
margin-top: 40px;
border: 1px solid #EFEFFE;
background-color: #EFEFFE;
align-items: center;
display: flex;
margin-bottom: 200px;
height: 547px;
width: 100%;
}

.man-photo{
  width: 482px;
  height: 547px;
  margin-right: 170px;
  object-fit:fill;
}

.man-img{
  width: 482px;
  height: 547px;
}

.stars-container{
  margin-left: 10px;
}

.text-men-container{
  justify-content: center;
  align-items: center;
}

.text-sed>p{
  font-size:24px ;
  font-family: 'Roboto', sans-serif;
  width: 550px;
  height: 136px;
}

.islam>p{
  margin-top: 28px;
  width: 115px;
  height: 33px;
  font-size:24px ;
  font-family: 'Roboto', sans-serif;
}

.pixaby>p{
  margin-top: 8px;
  width: 193px;
  height: 25px;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
}

footer {
  margin-top: 52px;
  padding-left:150px;
  padding-right: 150px;
  width: 100%;
  border: 1px solid #EBEBF8;
  background-color: #EBEBF8;
  height: 557px;
  position: relative;

}

.footer-items{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 150px;
}

.pixbey-container{
  display: flex;
  flex-direction: row;
  }

.logo-pixbey-1{
  border: 1px solid #6D79C2;
  border-radius: 18px;
  background-color: #6D79C2;
  width: 20px;
  height: 55px;
}

.logo-pixbey-2{
  border: 1px solid #8994DF;
  border-radius: 18px;
  background-color: #8994DF;
  width: 20px;
  height: 55px;
}

.logo-text-pixbey>h1{
  height: 49px;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: #707070;
  text-align: center;
  margin-top: 5px;
}

.pixbey{
  display: flex;
  flex-direction: column;
  gap:32px;
  font-family: 'Poppins';
}

.logos{
  display: flex;
  width:73.15px;
  gap: 1px;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.copyright{
width: 100%;
color: #677294;
font-size: 15px;
font-family: 'Poppins';
padding-top: 120px;
}

.nav-links{
justify-content: center;
}

a{
  text-decoration: none;
  color: #8A8A8A;
  font-size: 24px;
  font-family: 'Poppins';
  font-weight: bold;
}

ul{
  list-style-type: none;
}

.links-box>a{
  color: black;
  font-family: 'Poppins';
}

.links-box{
  margin-bottom: 50px;
}

.perm-box{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: 'Poppins';
  color: #677294;
  flex-direction: row;
  display: flex;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

.perm-1{
width: 50%;
border-right: 1px solid #677294;

}

.perm-2{
  width: 50%;
  

}

.social-container{
  display: inline-flex; 
}

.wrapper{
display: inline-flex;
width: 100%;
gap: 5px;
}

.wrapper .icon{
  background-color:#EBEBF8;
  border-radius: 50%;
  border:1.5px solid #9C9CA8;
  width: 38px;
  height: 38px;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.wrapper .tooltip {
  position: absolute;
  background-color: #677294;
  border-radius: 5px;
  opacity: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact-box-container{
  position: absolute;
  top:-90px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #333697;
  border-radius: 40px;
  background-color: #333697;
  width: 1110px;
  height: 200px;
}

.contact-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-contact{
  width: 550px;
  margin-right: 30px;
}

.text-contact>h1{
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  margin-right: 900px;
  color: white;
  width: 200px;
  height: 48px;
}

.text-contact>p{
width: 700px;
height: 69px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-align: justify;
color: white;
width: 490px;
height: 66px;
}

.email-box{
border:1px solid #FFFFFF;
border-radius: 40px;
background-color:#FFFFFF;
width: 437px;
height: 70px;
display: flex; 
justify-content: flex-start;
align-items: center;
}

.email-send{
  margin-left: 30px;
 color: #7C7C7C
}

.send{
  border: 1px solid #333697;
  background-color: #333697;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  margin-left: 180px;
}

.send-text{
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
