header {
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  border: 1px solid;
  padding: 10px;
  background-color: rgba(177, 177, 243, 0.631);
  height:937.33px;
}

.main-section {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid;
}

.article {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid;
}

footer {
  margin-top: 10px;
  border: 1px solid;
  padding-top: 167px;
  height: 557px;
  padding-bottom: 43px;
}

.home{
  display: flex;
  justify-content: space-between; 
}


.logo-home{
  width:55px;
  height: 55px;
}


.logo-container{
  width: 269px;
  height: 55px;
  display: flex;
  gap: 8px;
  font-size: 38px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
  margin-left: 150px;
}


.logo-text{
display: flex;
justify-content: center;
align-items: center;
}


a{
  text-decoration: none;
  color: #FFFFFF;
}


p{
  text-align: left;
  font: normal normal medium 38px/51px Roboto;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
  top: 52px;
  left: 213px;
  width: 214px;
  height: 51px;
}

.menu > li{
  display: inline-block;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  }

.nav{
  margin-right: 150px;
  margin-top: 30px;
}
 
  .contact-us{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:white;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  height: 50px;
  width: 171px;
  
  }


.contact-us>a{
  color: black;
}


